@import "tailwindcss";
/* @plugin 'tailwind-scrollbar'; */

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --primary: #00a99d;
  --secondary: #00857a;
  --background: #ffffff;
  --foreground: #171717;
  --secondary-foreground: #1e2939;
}

@theme inline {
  --breakpoint-*: initial;
  --breakpoint-tablet: 40rem;
  --breakpoint-tablet_portrait: 48rem;
  --breakpoint-laptop: 64rem;
  --breakpoint-desktop: 80rem;
  --breakpoint-big_screen: 96rem;

  --font-jetbrains-mono: var(--font-jetbrains-mono);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary-foreground: var(--secondary-foreground);

  --text-tiny: 0.625rem;

  --radius-2xs: 0.0625rem;
}

[data-theme="dark"] {
  --background: #272c35;
  --foreground: #f5f5f5;
  --secondary-foreground: #d4d4d4;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer components {
  .nav-link {
    @apply relative after:absolute after:content-[""] after:bg-primary after:h-0.5 after:w-0 after:left-[50%] after:-bottom-1 after:rounded-2xs after:transition-all hover:after:w-full hover:after:left-0;
  }

  .footer-social-icon {
    @apply fill-gray-700 dark:fill-gray-300 h-6 w-auto hover:fill-primary hover:rotate-360 transition-all duration-300;
  }

  .item-list {
    @apply relative before:content-[''] before:w-2 before:h-2 before:bg-primary before:rounded-full before:absolute before:left-0 before:top-1/2 before:-translate-y-1/2 before:transform before:-translate-x-4;
  }

  .timeline-group {
    @apply pl-12 pb-8 last:pb-0 relative after:content-[''] after:absolute after:w-5 after:h-5 after:rounded-full after:left-0 after:top-0 after:border  after:border-primary after:-translate-x-1/2 before:content-[''] before:absolute before:w-px before:h-[calc(100%-1.25rem)] before:bg-primary before:left-0 before:top-5;
  }
}

.typed-cursor {
  @apply w-[2.5px] h-6 bg-primary ml-1 rounded-2xs;
}

.typed-cursor.typed-cursor--blink {
  animation: blink 1s infinite !important;
}

@keyframes blink {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.wave {
  display: inline-block;
  transform-origin: 70% 70%;

  animation: wave-animation 2.667s linear infinite;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0);
  }

  10% {
    transform: rotate(14deg);
  }

  20% {
    transform: rotate(-8deg);
  }

  30% {
    transform: rotate(14deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(0);
  }

  to {
    transform: rotate(0);
  }
}

.highlight-text {
  background-size: 400%;
  animation: flowing-gradient 3s ease infinite;
}

@keyframes flowing-gradient {
  0%,
  to {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
